.banner {
  width: 100%;
  height: 100%;
  background: #353538;
  padding-bottom: 2rem;
}
.banner > header > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.banner .card > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner > .nav {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  border-radius: 5px;
  font-size: 0.18666667rem;
  padding-top: 10rem;
}
.banner > .nav .transform {
  background: #353538;
  width: 100px;
  height: 60%;
  position: absolute;
  top: 10.4rem;
  right: -1%;
  border-radius: 5px;
  transform: rotate(-3deg);
}
.banner > .nav .warp {
  width: 100%;
  margin: 0 auto;
  height: 60%;
  background: #f00121;
  position: absolute;
  top: 10rem;
  left: 0;
  border-radius: 5px;
  transform: rotate(-3deg);
}
.banner > .nav > .nav-word {
  width: 100%;
  margin: 0 auto;
  background: white;
  transform: rotate(0deg);
  border-radius: 5px;
  font-family: "微软雅黑";
  z-index: 1000;
  color: #636363;
}
.banner > .nav > .nav-word input {
  margin-top: 1rem;
  height: 1.6rem;
  border-radius: 15px;
  width: 100%;
  padding-left: 0.5rem;
  background: none;
  outline: none;
  border: 1px solid #ccc;
}
.banner > .nav > .nav-word .identity {
  width: 100%;
  height: 100%;
  text-align: center;
}
.banner > .nav > .nav-word .identity > .input1 {
  width: 40%;
}
.banner > .nav > .nav-word .identity > .input2 {
  width: 40%;
  margin-left: 5%;
}
.banner > .nav > .nav-word .identity > .input3 {
  width: 90%;
}
.banner > .nav > .nav-word .identity > .input4 {
  width: 90%;
}
.banner > .nav > .nav-word .identity #showDate {
  display: block;
  width: 90%;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 1rem auto;
  text-align: left;
  line-height: 1.6rem;
  padding-left: 0.5rem;
  font-size: 14px;
}
.banner > .nav > .nav-word > .agree {
  padding: 0 1rem 1rem 1rem;
  font-size: 14px;
  position: relative;
}
.banner > .nav > .nav-word > .agree > input {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1rem;
  left: 1rem;
  right: 0;
  bottom: 0;
}
.banner > .nav > .nav-word > .agree span {
  color: red;
  font-weight: 700;
  letter-spacing: 2px;
}
.banner > .nav > .nav-word > .button {
  text-align: center;
}
.banner > .nav > .nav-word > .button > img {
  width: 75%;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .banner {
    padding-bottom: 109px;
  }
  .nav-word {
    padding: 1rem 0;
  }
  .agree {
    margin-top: 20px;
  }
  .warp-btn {
    top: 20rem !important;
  }
}
.warp {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.warp > .warp-img {
  background: url(../img/success.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}
.warp > .warp-img > .warp-btn {
  position: absolute;
  top: 17rem;
  left: 0;
}
.warp > .warp-img > .warp-btn .warp-btn1 {
  background: #f00121;
  border: 1px solid #f00121;
  border-radius: 30px;
  color: white;
  width: 5rem;
  height: 2rem;
  font-weight: 700;
  margin-left: 2.5rem;
}
.warp > .warp-img > .warp-btn .warp-btn2 {
  background: #353538;
  border: 1px solid #353538;
  border-radius: 30px;
  color: white;
  width: 5rem;
  height: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}
